	*{	
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-tap-highlight-color: transparent; /* For some Androids */
	}			
		
#контейнер{
	--background-color:#FEE;
	--width: 50%;		
	max-width: 500px;
	min-width: 200px;		
	text-align: left;
	--font-weight:bold;
	font-family: sans-serif;
	font-size: 15px;
	color: #444;
	}	
		
.результат{	
	text-align: center;
	font-size: 18px;
	color: #428BCA;
	padding-top: 8px;
	}
		
.вопрос {	
	margin: 10px;	
	}
		
.заголовок{
	display: inline-block;
	 
	padding-bottom: 3px;
	font-size: 16px;
	}		
		
.суставы{			
	text-align: center;	
	}
	.суставы svg{
		max-width: 70%;
		}		
	.сустав{		
		cursor: pointer;		
		}

.PASI_группа{	
	border-top				: 1px dashed #888;	
	vertical-align			: bottom; 
	}
	.PASI_лев {
		//background-color	: #FEE;
		padding-top			: 5px;
		//vertical-align	: top; 
		display				: inline-block;
		//text-align		: justify; 
		width				: 50%;			
		}
	.PASI_прав {
		padding-top			: 15px;
		text-align			: center;
		vertical-align		: top;
		display				: inline-block;
		//background-color	:#FEE;
		width				: 30%;		
		}				
	.PASI_группа svg{
	//max-width: 90px;
	//min-width: 80px;
	width: 85px;
	}		
	.PASI_заголовок{
	text-align:center;
	color:green; 
	padding: 5px;	
	}

		
.группа_переключатель {		
	width: 100%;		
	display: flex;
	border: 1px solid #888;
	border-radius: 4px;			
	} 	
	.группа_переключатель label{
		display: block;
		width: 50%;
		text-align: center;	
		border-right: 1px solid #888;
		cursor: pointer;
		background-color: #eee;
		padding: 3px 0px;
		}
		.группа_переключатель input[type = "radio"]{
		display: none;
		}
		.группа_переключатель :checked + label{
		background-color: #428BCA;
		border: 1px solid #428BCA;
		color: #fff;		
		}	
	.группа_переключатель label:first-of-type {border-radius: 3px 0px 0px 3px;}
	.группа_переключатель label:last-of-type {	border-right: 0px;	border-radius: 0px 3px 3px 0px;}	

.подпись_переключателя {
	width:  100%; /* Ширина таблицы */
	color: unset; /* Почему-то не наследует цвет делаем как у родителя*/
	//border-spacing: 0; /* Расстояние между ячейками */
	}
   .подпись_переключателя td {
		width: 50%; /* Ширина ячеек */		
		}
   .подпись_прав { /* Правая ячейка */ 
		text-align: right; /* Выравнивание по правому краю */
		}
			
				
.группа_выбор{
	background-color: #eee;
	padding: 4px 4px;
	border: 1px solid #888;
	border-radius: 4px;
	}	
		
.ввод_значения{
	background-color: #eee;
	padding: 4px 4px;
	border: 1px solid #888;
	border-radius: 4px;
	width: 15%;
	}	
		
			
	